<div class="main">
    <div class="main1">
        <div class="image-div">
            <img id="prof-img" src="https://cdn.dribbble.com/users/758946/screenshots/4461171/s4s_animation.gif"  alt="feeback">
        </div>
        <h2></h2>
        <div id="welcome"></div>
        <div>
            <div id="user" class="input-group flex-nowrap">
                <textarea placeholder="How we can help you" name="" id="txt" cols="30" rows="3"></textarea>
              </div>
    
              <div id="buttn">
                    <button (click)="feedback()">Submit</button>
              </div>
        </div>
    </div>
    
  </div>