 <!-- content -->
    <highcharts-chart
[Highcharts]="Highcharts"
[options]="chartOptions"
></highcharts-chart>
    <!-- <div class="wrap-circles">

      <div class="circle per-50">
        <div class="inner">50%</div>
      </div>

      <div class="circle per-100">
        <div class="inner">98%</div>
      </div>
    </div> -->

    <!-- <div class="container">
      <div class="progress">
          <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
          <div class="overlay"></div>
          <div class="left"></div>
          <div class="right"></div>
      </div>
      <div class="progress">
          <span class="title timer" data-from="0" data-to="70" data-speed="1500">70</span>
          <div class="overlay"></div>
          <div class="left1"></div>
          <div class="right1"></div>
      </div>
  </div> -->
