<div class="main">
    <h2>Profit margin</h2>
    <div class="content">
        <div class="circle-wrap">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
              </div>
              <div class="inside-circle"> 75% </div>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>Company</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>Koss,Daniel and Kirlin</td>
              <td>Port</td>
            </tr>

            <tr>
              <td>Kling Ltd</td>
              <td>West</td>
            </tr>

            <tr>
              <td>Raynor, Kozey and Quitzon</td>
              <td>North</td>
            </tr>

            <tr>
              <td>Brown and Sons</td>
              <td>New</td>
            </tr>

            <tr>
              <td>Roghan Group</td>
              <td>Port</td>
            </tr>

            <tr>
              <td>Raynor, Kozey and Quitzon</td>
              <td>North</td>
            </tr>

            <tr>
              <td>Harber - Gusikowski</td>
              <td>South</td>
            </tr>

            <tr>
              <td>Herman LLC</td>
              <td>East</td>
            </tr>

            <tr>
              <td>Rodriguez, Cormier and Farrell</td>
              <td>Avenue</td>
            </tr>

            <tr>
              <td>Olson - Yost</td>
              <td>Port</td>
            </tr>

            <tr>
              <td>Jacobs - Goyette</td>
              <td>North</td>
            </tr>

            <tr>
              <td>Streich - Feest</td>
              <td>West</td>
            </tr>

            
            </tbody>
          </table>
    </div>
</div>
