<div class="card1">
    <mat-card>
        <mat-card-content>
            <h1>Quarter Summary - Sales</h1>

            <div class="container">
               <h2> Q1 Sales 2022</h2>
                <div class="progress progress-striped">
                    <div class="progress-bar">
                    </div>
                </div>
            </div>

            <div class="container">
               <h2> Q2 Sales 2022</h2>
                <div class="progress2 progress-moved">
                    <div class="progress-bar2">
                    </div>
                </div>
            </div>

            <div class="container">
                <h2> Q3 Sales 2022</h2>
                 <div class="progress3 progress-mov">
                     <div class="progress-bar3">
                     </div>
                 </div>
             </div>

             <div class="container">
                <h2> Q4 Sales 2022</h2>
                 <div class="progress4 progress-moved2">
                     <div class="progress-bar4">
                     </div>
                 </div>
             </div>



        </mat-card-content>
    </mat-card>

</div>
