
    <div class="main" >
        <!--admin details  -->
        <div class="profile">
            <img id="prof-img" width="140px" src="https://static.vecteezy.com/system/resources/previews/017/077/968/non_2x/user-avatar-profile-businessman-with-office-suit-and-red-tie-illustration-vector.jpg"
                alt="adminlogo">
            <div id="name">{{admin_name}}</div>
            <div id="email">{{admin_name}}@dashie.co.in</div>
        </div>
        <mat-divider></mat-divider>
        
        <div class="pages">
            <a routerLink="dashboard">Dashboard</a>
            <a routerLink="admin">Admin</a>
            <a routerLink="feedback">Feedback</a>
        </div>
    
        <mat-divider></mat-divider>
        
    </div>

