<div class="main">
    <div class="main1">
        <div class="image-div">
            <img id="prof-img"
                src="https://static.vecteezy.com/system/resources/previews/017/077/968/non_2x/user-avatar-profile-businessman-with-office-suit-and-red-tie-illustration-vector.jpg"
                width="280px" alt="">
        </div>
        <h1>{{admin_name}}</h1>
        <div id="welcome"><p>Email <br> {{admin_name}}.dashie.co.in</p></div>

        <div>
            <div id="user" class="input-group flex-nowrap">
            </div>

            <div id="pass" class="input-group flex-nowrap">

            </div>
            <div>
            </div>
        </div>
    </div>
   
</div>