/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
     }
::-webkit-scrollbar{
     width: 7px;
     background-color: rgb(5, 41, 73);
}
::-webkit-scrollbar-thumb{
     border-radius: 10px;
     background-color: rgb(105, 105, 105);     
}
@media only screen and (max-width:600px){
     :-webkit-scrollbar{
          width: 2px;
          background-color: rgba(5, 41, 73, 0.486);
     }
     ::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background-color: rgba(105, 105, 105, 0.473);
     }
 }
 