<div class="main">
  <div class="main1">
    <div id="welcome"><p>Not an Admin yet?</p></div>
<div id="log">
       <p>Register with your provided Username and Password </p>
  
</div>    
    <div>
        <div id="user" class="input-group flex-nowrap">
            <input id="user-inp" name="username" [(ngModel)]="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
    
          <div id="pass" class="input-group flex-nowrap">
            
            <input id="user-inp" name="password" [(ngModel)]="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
          </div>
    
          <div id="pass" class="input-group flex-nowrap">
            
            <input id="user-inp" name="confirmpassword" [(ngModel)]="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <div [innerHTML]="outputcontent">
    
          </div>
          <div class="buttons">
            <button id = "button-addon1" (click)="register()" class="btn btn-outline-secondary" type="button" id="button-addon1">Register</button>
          </div>
    </div>
    
  </div>
</div>